<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}">
<head>
    <title>
    Services Page
    </title>
</head>
<body>
    <section id="content">
        <h1>Welcome to services page</h1>
        <h2>Services offered by SCM</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nisi accusamus neque 
        praesentium dolores cumque obcaecati officia ullam, quam autem id sed quo deleniti 
        perspiciatis unde optio. Voluptatum, laboriosam omnis!<10></10>
    </section>
    <!-- <script>
        console.log("services page")
    </script> -->
</body>
</html>